.page_layout {
  display: flex;
  justify-content: space-between;
  height: 100vh;

}
.left_sidebar {
  display: flex;
  justify-content: center;

  width: 240px;
  border-right: 1px solid #E0E0E0;


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 192px;

  }

}

.main_links {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 8px;

}
.main {
  &__title {
    font-family: 'TT Firs Neue';
    font-weight: 500;
    font-size: 32px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  &__search_wrapper {
    width: 420px;

  }



}


.currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {

  }
  &__1 {
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;

  }
}

.logo {
  padding-top: 16px;
  padding-left: 10px;
  padding-bottom: 100px;

  &__text_bold {
    font-family: 'TT Firs Neue';
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  &__text {
    font-family: 'TT Firs Neue';
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 6px;
  }

}

.leave_button {
    margin-bottom: 32px;
  }


.line {
  border: 1px solid #F3F3F3;
  height: 1px;
  width: 100%;
  margin-bottom: 24px;

}
.right_sidebar {
  display: flex;
  justify-content: center;
  width: 288px;
  border-left: 1px solid #E0E0E0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 224px;
  }

}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  background: #F1F1F1;
  height: 208px;

}
.wrap {
  position: relative;

}
.img1 {
  position: relative;
}
.img2 {
  position: absolute;
  bottom: -6px;
  left: -6px;
}

.text_500 {
  font-weight: 500;
}
.add_wallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 148px;
  border: 1px dashed #ECECEC ;
  color:  #848484;
}
.transactions {
  //margin-bottom: 50px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 256px;
    border: 1px solid #ECECEC ;

  }
  &__container {

    text-align: center;
    width: 160px;
  }
  &__text {
    color:  #848484;

  }

}