.page_layout {
  display: flex;
  justify-content: space-between;
  height: 100vh;

}

.main_container {
  display: flex;
  flex-direction: column;
}

.header {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: 'TT Firs Neue';
    font-weight: 500;
    font-size: 32px;
  }

  &__search_wrapper {
    width: 420px;
  }

}


.currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F3F3F3;
  margin-top: 50px;

  &__title {
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;

  }
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;

  &__nums {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 16px;
  }

  &__num_title {
    font-size: 32px;
    font-weight: 400;
  }

  &__num_percent {
    color: #84A500;
    background: #84A5001A;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
  }

  &__num_today {
    color: #84A500;
  }

  &__date {
    font-size: 12px;
    color: #848484;
  }
}


.card {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 224px;
  height: 64px;
  border: 1px solid #ECECEC;
  padding: 16px;
}

.resCur {
  display: flex;
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.one {
  font-size: 12px;
  font-weight: 500;
}
.two {
  font-size: 12px;
}
.three {
  font-size: 12px;
  color: #84A500;
}
.four {
  font-size: 12px;
  font-weight: 300;
  color: #84A500;
}

.range {
  display: flex;

  justify-content: end;

  color: #E0E0E0;
  &__bg {
    padding: 8px;
    background-color: #272727;
    border-radius: 20px;

  }
}
