.page_layout {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 816px;
  width: 100%;
  margin: 0 48px;

  &__title {
    font-family: 'TT Firs Neue';
    font-weight: 500;
    font-size: 32px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F3F3F3;
  }

}