.right_sidebar {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 288px;
  width: 100%;
  border-left: 1px solid #E0E0E0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 224px;
    width: 100%;
  }
}

@media (max-width:850px) {
  .right_sidebar {
    display: none;
  }

}