.right_sidebar {
  display: flex;
  justify-content: center;
  width: 288px;
  border-left: 1px solid #E0E0E0;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 224px;
  }
}

@media (max-width:850px) {
  .right_sidebar {
    display: none;
  }

}