.page_layout {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 816px;
  width: 100%;
  margin: 0 48px;
  //overflow-y: auto;

  &__title {
    font-family: 'TT Firs Neue';
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 48px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F3F3F3;
    color: #848484;
    font-size: 12px;
  }
  &__margin {
    margin-bottom: 16px;
  }

}

@media(max-width: 550px) {
  .main {
    margin: 0 24px 0 72px;
  }
}

